@import "svg-icon-mixins";

// Offline Indicator

.offline-indicator {
  top: calc(var(--header-offset) + 0.5em);
  background: var(--secondary);
  border: 1px solid var(--tertiary);
  border-radius: var(--d-border-radius);
  
  .mobile-view & {
    max-width: 100%;
    width: max-content;
  }

  > span {
    &:before {
      content: "";
      display: inline-block;
      vertical-align: text-top;
      margin-right: 0.25em;
      @include svg-icon(metarial, m-wifi-off, currentColor, 1em, 1em);
    }
  }
}
